html{
    font-family: var(--textsm-bold-font-family, 'Inter-Bold', sans-serif);
    text-align: center;
}

body {
    margin: 0px;
}

.header1 {
    background: #205527;
    margin: 0px 0;
    display: flex;
    position:static;
    align-items: center;
    height: 150px;
    justify-content: space-between;
    
}

.Title {
    color: #ffffff;
    align-items: center;
    text-align: left;
    margin-left: 25%;
    font-family: var(--textsm-medium-font-family, 'Inter-Medium', sans-serif);
    font-size: var(--textsm-medium-font-size, 30px);
    line-height: var(--textsm-medium-line-height, 20px);
    font-weight: var(--textsm-medium-font-weight, 500);
    }

.nav-menu-button {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-right: 5%;
    justify-content: center;
    overflow: hidden;
    }

.menu {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    align-items: center;
    position: relative;
    overflow: visible;
    }

.logo {
    color: var(--gray-900, #101828);width: 90px;
    height: 110px;
    align-items: center;
    position: absolute;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    }

.platzhalter {
    background: #d9d9d9;
    border-radius: 108.5px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    overflow: hidden;
    
    }
    
img{
        width: 320px;
        align-items: center;
        margin-left: -120%;
        margin-top: -70%;
    }

.suche, .suche * {
    box-sizing: border-box;
    width: 100%;
    }
.suche {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    position: relative;
    width: 86%;
    margin-left: 9%;
    margin-top: 50px;
    }

    .input-with-label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    }

    .input {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-300, #d0d5dd);
    border-width: 1px;
    padding: 10px 14px 10px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--shadow-xs-box-shadow,  0px 1px 2px 0px rgba(16, 24, 40, 0.05));
    }

    .content {
    display: flex;
    flex-direction: row;
    border-style: hidden;
    font-size: 40pt;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    }

    .suche2 {
    color: var(--gray-500, #667085);
    text-align: left;
    font-family: var(--textmd-regular-font-family, 'Inter-Regular', sans-serif);
    font-size: var(--textmd-regular-font-size, 16px);
    line-height: var(--textmd-regular-line-height, 24px);
    font-weight: var(--textmd-regular-font-weight, 400);
    position: relative;
    }

    .search {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: visible;
    }
    
    

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30pt; 
}

.name{
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 2px 0px;
    padding: 50px 50px 50px 10%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    width: 100%;
}

.text {
    color: var(--gray-900, #101828);
    text-align: left;
    font-family: var(--textsm-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--textsm-bold-font-size, 100%);
    line-height: var(--textsm-bold-line-height, 20px);
    font-weight: var(--textsm-bold-font-weight, 700);
    position: relative;
    }

.counter {
    border-style: solid;
    border-color: var(--gray-200, #eaecf0);
    border-width: 0px 0px 0px 0px;
    padding: 16px 24px 16px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 35px;
    position: absolute;
    margin-left: 45%;
    color: var(--gray-900, #101828);
    text-align: center;
    font-family: var(--textsm-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--textsm-medium-font-size, 100%);
    line-height: var(--textsm-medium-line-height, 20px);
    font-weight: var(--textsm-medium-font-weight, 300);
}

.increase-decrease {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--gray-300, #d0d5dd);
    border-width: 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    height: 100px;
    box-shadow: var(
      --shadow-xs-box-shadow,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05)
    );
    overflow: hidden;
    position: absolute;
    margin-left: 65%;
}

.increment{
    background: var(--ffffff, #008200);
    border-style: solid;
    border-color: var(--gray-300, #008200);
    border-width: 0px 1px 0px 0px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 51%;
    height: 100%;
    position: relative;
}

.text3 {
    color: var(--white, #ffffff);
    text-align: left;
    font-family: var(--textsm-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--textsm-medium-font-size, 300%);
    line-height: var(--textsm-medium-line-height, 80%);
    font-weight: var(--textsm-medium-font-weight, 500);
    position: relative;
    }

.decrement{
    background: var(--white, #e1e5eb);
    border-style: solid;
    border-color: var(--gray-300, #e1e5eb);
    border-width: 0px 1px 0px 0px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 51%;
    height: 100%;
    color: var(--gray-700, #344054);
    position: relative
}

.text2 {
    color: var(--gray-700, #344054);
    text-align: left;
    font-family: var(--textsm-medium-font-family, "Inter-Medium", sans-serif);
    font-size: var(--textsm-medium-font-size, 300%);
    line-height: var(--textsm-medium-line-height, 80%);
    font-weight: var(--textsm-medium-font-weight, 500);
    position: relative;
    }

footer{
    font-size: 30pt;
    text-align: center;
    clear: both;
}





